.ChatListObject {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
}

.ChatListObject:hover {
    background-color: #0c1629;
}

.ChatListObject.selected {
    background-color: #101f35;
}

.TitleButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    font-size: small;
    color: #f9f9f9;
}   

.TitleButton span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #f9f9f9;
    animation: typingEffect 2s steps(30, end), blink 0.5s step-end infinite alternate;
}

@keyframes typingEffect {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: #f9f9f9;
    }
}

.DeleteButton {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
}

.ChatListObject:hover .DeleteButton {
    display: flex;
}

.DeleteIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6A00;
    font-size: small;
}

/* Media query */

@media (min-width: 1200px) {
    .TitleButton {
        font-size: small;
    }

    .DeleteIcon {
        font-size: small;
    }
}

@media (min-width: 1700px) {
    .TitleButton {
        font-size: medium;
    }

    .DeleteIcon {
        font-size: medium;
    }
}
