.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ModalContent {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MessageContainer {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

.InputContainer {
    background-color: transparent;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.YouTubeInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ModalButtons {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 90%;
    gap: 10px;
}

.ModalButtons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ModalButtons button:first-child {
    background-color: #0E1A2B;
    color: white;
}

.ModalButtons button:last-child {
    background-color: #FF6A00;
    color: black;
}

/* Media query */

@media (max-width: 344px) {
    .ModalContent {
        width: 90%;
    }
}

@media (min-width: 344px) {
    .ModalContent {
        width: 90%;
        height: 30%;
    }
}

@media (min-width: 768px) {
    .ModalContent {
        width: 60%;
        height: 20%;
    }
}

@media (min-width: 1200px) {
    .ModalContent {
        width: 60%;
        height: 30%;
    }
}

/* Nest Hub */
@media (width: 1024px) and (height: 600px) {
    .ModalContent {
        width: 60%;
        height: 40%;
    }
}