.App {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0A121F;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ContextMenu button {
    padding: 8px 12px;
    border: none;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
}

.ContextMenu button:hover {
    background-color: #e6e6e6;
}

@media (width: 1024px) and (height: 600px) {
    .App {
        width: 100vw;
        height: 100vh;
    }
}