@media (min-width: 344px) {
    .LeftSideBackground {
        position: absolute !important;
        width: 100vw !important;
        background-color: #0A121F !important;
        left: 0px !important;
        transition: width 0.5s !important;
    }

    .LeftSideBackground.collapsed {
        background-color: transparent !important;
        transition: width 0.1s !important;
    }


    .ChatBackground {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .MessagesBackground {
        width: 100% !important;
    }

    .MessagesList {
        width: 70% !important;
    }

    .TextBoxBackground {
        width: 70% !important;
    }

    .TextBoxInput {
        font-size: small !important;
        padding-left: 10px !important;
        width: 65% !important;
    }

}

@media (min-width: 576px) {
    .LeftSideBackground {
        width: 150% !important;
        position: relative !important;
    }

    .SidebarToggleButton {
        top: 23px !important;
    }

    .MessagesList {
        width: 90% !important;
    }

    .TextBoxBackground {
        width: 90% !important;
        height: 50% !important;
    }

    .TextBoxInput {
        font-size: small !important;
        padding-left: 10px !important;
        width: 80% !important;
    }
}

@media (min-width: 577px) {
    .LeftSideBackground {
        position: relative !important;
        width: 150% !important;
    }

    .SidebarToggleButton {
        top: 23px !important;
    }

    .MessagesList {
        width: 80% !important;
    }

    .TextBoxBackground {
        width: 80% !important;
        height: 60% !important;
    }

    .TextBoxInput {
        font-size: small !important;
        width: 85% !important;
    }
}

@media (min-width: 768px) {
    .LeftSideBackground {
        width: 40% !important;
    }

    .SidebarToggleButton {
        top: 23px !important;
    }

    .MessagesList {
        width: 80% !important;
    }

    .TextBoxBackground {
        width: 80% !important;
        height: 60% !important;
    }

    .TextBoxInput {
        font-size: small !important;
        width: 85% !important;
    }
}

@media (min-width: 992px) {
    .LeftSideBackground {
        width: 40% !important;
    }

    .SidebarToggleButton {
        top: 23px !important;
    }

    .MessagesList {
        width: 80% !important;
    }

    .TextBoxBackground {
        width: 80% !important;
        height: 60% !important;
    }
}

@media (min-width: 1080px) {
    .LeftSideBackground {
        width: 30% !important;
    }

    .SidebarToggleButton {
        top: 23px !important;
    }

    .MessagesList {
        width: 80% !important;
    }

    .TextBoxBackground {
        width: 80% !important;
        height: 60% !important;
    }
}

@media (min-width: 1200px) {
    .LeftSideBackground {
        width: 25% !important;
    }

    .SidebarToggleButton {
        top: 20px !important;
    }

    h1 {
        font-size: x-large !important;
    }

    .SidebarToggleButtonIcon {
        width: 18px !important;
        height: 18px !important;
    }

    .NewChatButton {
        font-size: small !important;
        height: 30% !important;
    }

    .TitleButton {
        font-size: small !important;
    }

    .DeleteIcon {
        font-size: small !important;
    }

    .MessagesList {
        width: 70% !important;
    }

    .MessageBubble {
        font-size: small !important;
    }

    .TextBoxBackground {
        width: 70% !important;
        height: 60% !important;
    }

    .TextBoxInput {
        font-size: small !important;
        width: 90% !important;
    }

    .SendMessageButton {
        width: 25px !important;
        height: 25px !important;
    }
}

@media (min-width: 1700px) {
    .LeftSideBackground {
        transition: width 0.5s !important;
    }

    .LeftSideBackground.collapsed {
        transition: width 0.1s !important;
    }

    .SidebarToggleButton {
        top: 18px !important;
    }

    .SidebarToggleButtonIcon {
        width: 20px !important;
        height: 20px !important;
    }

    h1 {
        font-size: xx-large !important;
    }

    .NewChatButton {
        font-size: medium !important;
        height: 30% !important;
    }

    .TitleButton {
        font-size: medium !important;
    }

    .DeleteIcon {
        font-size: medium !important;
    }

    .MessageBubble {
        font-size: medium !important;
    }

    .TextBoxBackground {
        height: 60% !important;
    }

    .TextBoxInput {
        font-size: medium !important;
        width: 92% !important;
    }

    .SendMessageButton {
        width: 25px !important;
        height: 25px !important;
    }
}

@media (min-width: 768px) and (min-height: 1024px) {
    .LeftSideBackground {
        width: 100% !important;
    }

    .MessagesList {
        min-width: 500px !important;
    }
}

@media (min-width: 1700px) and (min-height: 1024px) {
    .LeftSideBackground {
        width: 25% !important;
    }
}


/* Nest Hub */
@media (width: 1024px) and (height: 600px) {
    .App {
        width: 100vw !important;
        height: 100vh !important;
    }

    .LeftSideBackground {
        width: 70% !important;
    }

    .TitleAndNewChatBackground {
        height: 30% !important;
    }

    .SidebarToggleButton {
        top: 18px !important;
    }

    .TextBoxBackground {
        height: 80% !important;
    }

    .TextBoxInput {
        font-size: medium !important;
        width: 90% !important;
    }

    .SendMessageButton {
        width: 25px !important;
        height: 25px !important;
    }
}