.ChatBackground {
    margin: 0;
    flex-grow: 1;
    height: 99%;
    background-color: #0E1A2B;
    border-bottom-left-radius: 5px;
    /* transition: width 0.1s; */
}

.MessagesBackground {
    margin: 0;
    background-color: transparent;
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MessagesList {
    margin: 0;
    width: 50%;
    height: 97%;
    padding: 0;
    padding-top: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #0E1A2B transparent;
}

.LoadingIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LoadingIcon {
    font-size: 3rem;
    color: #007bff;
    animation: spin 3s infinite linear;
    will-change: transform;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.TextBoxSenderFieldBackground {
    margin: 0;
    background-color: transparent;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextBoxBackground {
    margin: 0;
    background-color: #1C2E44;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.AddMidiaButton {
    background-color: transparent;
    color: #FF6A00;
    width: 40px;
    height: 40px;
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddMidiaIcon {
    font-size: 24px;
    background-color: transparent;
}

.TextBoxInput {
    height: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: large;
    color: #FFFFFF;
}

.TextBoxInputConversationMode{
    width: 91.2%;
}

.TextBoxInputNewChatMode {
    width: 85%;
}

.SendMessageButton {
    background-color: #FF6A00;;
    color: #FFFFFF;
    width: 28px;
    height: 28px;
    border-width: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SendMessageIcon {
    font-size: 24px;
    background-color: transparent;
}

/* Media query */

@media (max-width: 344px) {
    .ChatBackground {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MessagesBackground {
        width: 100%;
    }

    .MessagesList {
        width: 70%;
    }

    .TextBoxBackground {
        width: 70%;
    }

    .TextBoxInput {
        font-size: small;
        padding-left: 10px;
        width: 65%;
    }

}

@media (min-width: 344px) {
    .ChatBackground {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MessagesBackground {
        width: 100%;
    }

    .MessagesList {
        width: 70%;
    }

    .TextBoxBackground {
        width: 70%;
    }

    .TextBoxInput {
        font-size: small;
        padding-left: 10px;
        width: 65%;
    }

}

@media (min-width: 768px) {
    .MessagesList {
        width: 80%;
    }

    .TextBoxBackground {
        width: 80%;
        height: 60%;
    }

    .TextBoxInput {
        font-size: small;
        width: 85%;
    }
}

@media (min-width: 992px) {
    .MessagesList {
        width: 80%;
    }

    .TextBoxBackground {
        width: 80%;
        height: 60%;
    }
}

@media (min-width: 1080px) {
    .MessagesList {
        width: 80%;
    }

    .TextBoxBackground {
        width: 80%;
        height: 60%;
    }
}

@media (min-width: 1200px) {
    .MessagesList {
        width: 70%;
    }

    .TextBoxBackground {
        width: 70%;
        height: 60%;
    }

    .TextBoxInput {
        font-size: small;
        width: 90%;
    }

    .SendMessageButton {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1700px) {
    .TextBoxBackground {
        height: 60%;
    }

    .TextBoxBackground {
        width: 70%;
    }

    .TextBoxInput {
        font-size: medium;
        width: 90%;
    }

    .SendMessageButton {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 768px) and (min-height: 1024px) {
    .MessagesList {
        min-width: 500px;
    }
}

/* Nest Hub */
@media (width: 1024px) and (height: 600px) {
    .TextBoxBackground {
        height: 80%;
    }

    .TextBoxInput {
        font-size: medium;
        width: 90%;
    }

    .SendMessageButton {
        width: 25px;
        height: 25px;
    }
}